.game-container {
  background-color: #1c1616;
  color: #ffffff;
  min-height: 100vh;
  width: calc(100% - 20px);
  padding: 2rem 10px;
  padding-top: 50px; /* Navbar 아래로 내리기 위한 상단 여백 추가 */
  max-width: 800px;
  margin: 0 auto;
  line-height: 2.6;
  overflow-y: auto;
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-container h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

/* .game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.game-header h2 {
  margin: 0;
  color: #fff;
} */

.remaining-chances {
  color: #d8c27c;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.error-message {
  color: #f44336;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.no-game-message {
  color: #666;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  font-weight: 500;
}
