.scroll-text-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 100px 20px;
}

.scroll-text {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
  transform: translateY(50px);
}

.scroll-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-text + .subscribe-container {
  margin-top: 20px; /* ScrollText와 EmailSubscribe 사이 간격 */
}
